.fixedHeaderContainer header > a > img {
  /* spinning logo */
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.31, 1.16);
  /* make sure it's a square. Spins at the center */
  height: 34px;
  width: 34px;
}
.fixedHeaderContainer header > a:hover > img {
  transform: scale(1.3);
}

/* only show language icon */
#languages-menu {
  font-size: 0px;
  padding: 0;
}
#languages-menu .languages-icon {
  margin: 0;
  padding: 6px 10px;
}
#languages-dropdown {
  width: auto;
  right: 0;
}
@media only screen and (min-width: 1024px) {
  /* only targets language dropdown li, i swear */
  .nav-site > span > li {
    position: relative;
  }
}

#docsNav.container.docsNavContainer .toc::-webkit-scrollbar {
  display: none;
}

.spinner {
  margin: auto;
  position: absolute;
  width: 800px;
  left: 0px;
  bottom: -400px;
  animation: spin 750s linear infinite;
  transition: opacity 2s;
}

@media (max-width: 1024px) {
  .spinner {
    opacity: 0;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* overrides. Most of these should be upstreamed into docusaurus */

.button {
  /* these buttons really shouldn't have any margin */
  margin: 0;
}
.read-more {
  /* ... the margin belongs to the wrapper */
  margin: 20px 0 0 0;
}
.edit-page-link {
  /* header H1 height at small size is 27, button is 34, center it (-3.5px) */
  margin-top: -3.5px;
}
@media (min-width: 736px) {
  .edit-page-link {
    /* doc header H1 height at big size is 45, button is 34, center it (5.5px) */
    margin-top: 5.5px;
  }
}

.navPusher {
  height: auto;
}

.navGroup {
  background-color: #f6f4f4 !important;
}

.projectTitle {
  font-size: 50px;
  font-weight: bold;
  font-family: proxima-nova, sans-serif;
}

.quickStartAndExamples .blockImage {
  max-width: 226px;
  box-shadow: 0px 0 20px lightgrey;
  margin: 0;
}

.quickStartAndExamples .blockContent h2 {
  margin: 0;
}

.quickStartAndExamples .blockimage img {
  border-radius: 3px;
}

/* end override */
